
:root {
    --black: #171717;
    --gold: #B1A296;
    --blue: #557A95;
    --light-blue: #7395AE;
    --light-brown: #938E94;
    --brown: #5D5C61;
    --gray: #F3F3F3;
    --gray-border: #D9D9D9;
    --red: #98012E;
    --white: #ffffff;
    --main-font: "Open Sans", "Arial", sans-serif;
    --trans: 0.225s cubic-bezier(.215, .61, .355, 1);
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  font-style: normal;

  scroll-behavior: smooth;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  position: relative;
}

body.lock {
    overflow: hidden;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 5px;
    height: 40px;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 600;
}

.button--gold {
    background-color: var(--gold);
    color: var(--white);
}

.button---blue {
    background-color: var(--light-blue);
    color: var(--white);
}

.button--red {
    background-color: var(--red);
    color: var(--white);
}

.title-h2 {
    font-size: 30px;
    position: relative;
    color: var(--light-brown);
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
    line-height: 120%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.title-h2::after,
.title-h2::before {
    content: "";
    height: 1px;
    width: 25px;
    background-color: var(--light-brown);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.title-h2::after {
    right: -35px;
}

.title-h2::before {
    left: -35px;
}


header {
    border-bottom: 1px solid var(--gray-border);
    position: fixed;
    background-color: var(--white);
    width: 100%;
    top: 0;
    background-color: var(--white);
    z-index: 10;
}

.header__container {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.header__logo-link img {
    height: 58px;
}

.logo-desk {
    display: none;
}

.header__navigation {
    background: rgba(115, 149, 174, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 103px;
    z-index: 1002;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all var(--trans);
}

.header__navigation--show {
    transform: translateX(0);
}

.header__nav-wrapper {
    background-color: var(--white);
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.header__phone-link {
    color: var(--brown);
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.header__menu-list li {
    color: var(--blue);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 40px;
}

.header__menu-list a {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.header__menu-list a.current-item::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--gold);
    bottom: -3px;
    display: block;
    position: absolute;
}

.header__social-list {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.header__social-list li {
    margin-right: 10px;
}

.header__button-callback {
    margin-bottom: 20px;
}

.header__social-list li:nth-child(1) {
    grid-column: 1/2;
   justify-self: end;
}

.header__social-list li:nth-child(2) {
    grid-column: 2/3;
   justify-self: start;
}

.header__social-list li:nth-child(3) {
    grid-column:1/-1;
}

.button-menu {
    width: 22px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    padding: 0;
}

.button-menu span {
    background-color: var(--brown);
    display: block;
    height: 2px;
    width: 100%;
    pointer-events: none;
    position: relative;
}

.button-menu::before,
.button-menu::after {
    content: "";
    width: 22px;
    height: 2px;
    background-color: var(--brown);
    display: block;
    position: absolute;
}

.button-menu::before {
    top: 0;
}

.button-menu::after {
    bottom: 0;
}

.button-menu.button-menu--open span {
    width: 0;
    transform: scale(0);
}

.button-menu.button-menu--open::after {
    transition: all var(--trans);
    bottom: 50%;
    right: -50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

.button-menu.button-menu--open::before {
    transition: all var(--trans);
    top: 50%;
    right: -50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.intro {
    padding-top: 130px;
    position: relative;
    padding-bottom: 100px;
}

.intro__bg {
    position: absolute;
    filter: blur(3px);
    width: 100%;
    height: 100%;
    inset: 0;
}

.intro__container {
    position: relative;
    z-index: 2;
}

.intro h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 20px;
}

.intro h2 span:not(.name) {
    font-size: 24px;
}

.intro h2 span.name {
    color: var(--light-blue);
    position: relative;
}

.intro h2 span.name::after {
    content:"";
    width: 100%;
    height: 2px;
    display: block;
    background-color: var(--gold);
    right: 50%;
    transform: translateX(50%);
    bottom: -3px;
    position: absolute;
}

.intro__list-advantages li {
    position: relative;
    font-size: 14px;
    line-height: 120%;
    padding-left: 30px;
}

.intro__list-advantages li::before {
    content: "";
    width: 18px;
    height: 14px;
    background-image: url(../img/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 14px;
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.intro__list-advantages li:not(:last-of-type){
    margin-bottom: 20px;
}

.intro__list-advantages  {
    margin-bottom: 20px;
}

.intro__button-callback  {
    width: 100%;
    margin-bottom: 35px;
    max-width: 350px;
}

.intro__inner-wrapper {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0px 20px 50px 0px rgb(7 7 7 / 20%);
}

.intro__inner-list-advantages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.intro__inner-list-advantages li {
    display: flex;
    flex-direction: column;
}

.intro__inner-list-advantages li span {
    text-align: center;
}

.intro__inner-list-advantages li svg {
    margin: 0 auto;
    margin-bottom: 10px;
}

.services__container {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.intro {
    clip-path: polygon(0 0,45.3% 0,calc(45.3% + 24px) 40px,100% 40px,100% 100%,0 100%);
}

.services__list-container {
    overflow: hidden;
    width: 100%;
}

.services__list {
    display: flex;
    height: 100%;
    width: 100%;
}

.services__item {
    flex-shrink: 0;
}

.guarantees {
    clip-path: polygon(0 0,45.3% 0,calc(45.3% + 24px) 40px,100% 40px,100% 100%,0 100%);
}

.guarantees__container,
.callback__container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 30px;
}

.services__item {
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 15px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
}

.services__item h3 {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    position: relative;
    max-width: 150px;
}

.services__item:nth-child(odd)::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-image: url("../img/hammer.svg");
    position: absolute;
    right: 20px;
    top: 20px;
    background-repeat: no-repeat;
}

.services__item:nth-child(even)::before {
    content: "";
    display: block;
    width: 45px;
    height: 35px;
    background-image: url("../img/contract.svg");
    position: absolute;
    right: 20px;
    top: 20px;
    background-repeat: no-repeat;
}

.services__item h3::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    display: block;
    left: 0;
    bottom: -15px;
}

.services__description {
    font-size: 14px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 15px;
}

.services__item button {
    background-color: var(--white);
    color: var(--blue);
    align-self: flex-end;
}

.guarantees {
    background-color: var(--gray);
}

.guarantees__slogan {
    font-size: 16px;
    line-height: 120%;
    color: var(--red);
    padding: 10px;
    font-weight: 600;
    position: relative;
}

.guarantees__slogan::after {
    content: "";
    width: 35px;
    height: 23px;
    background-image: url(../img/100.svg);
    background-size: 35px 23px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.guarantees__text {
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
}

.guarantees__about-list li{
    margin-bottom: 15px;
    position: relative;
    font-size: 14px;
    line-height: 120%;
    padding-left: 30px;
}

.guarantees__about-list li::before {
    content: "";
    width: 18px;
    height: 14px;
    background-image: url(../img/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 14px;
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.guarantees__photo {
    width: 100%;
    height: 400px;
    background-color: var(--light-blue);
    margin-bottom: 30px;
}

.guarantees__advantages-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.guarantees__advantages-list li {
    position: relative;
    font-size: 14px;
    line-height: 120%;
    padding-left: 30px;
}

.callback__container {
    background-color: var(--light-blue);
}

.callback__container h2 {
    color: var(--white);
    margin: 0;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
}


.callback__container p {
    color: var(--white);
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
}

@media(min-width: 1280px) {


    .container {
        max-width: 1240px;
        padding-left: 0;
        padding-right: 0
    }

    .button-menu {
        display: none;
    }

    .header__navigation {
        position: static;
        width: auto;
        height: auto;
        display: flex;
        transform: translateX(0);
    }

    .header__nav-wrapper {
        display: flex;
        position: static;
        width: auto;
        align-items: center;
        padding: 0;
    }

    .header__menu-list {
        display: flex;
        margin-right: 20px;
    }

    .header__menu-list li {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0;
        margin-right: 15px;
    }

    .header__container {
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }

    .header__button-callback {
        order: 2;
    }

    .header__social-list {
        margin-bottom: 0;
    }

    .header__phone-link {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .header__phone-link span {
        display: none;
    }

    .header__button-callback {
        margin-bottom: 0;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10px;
        background-color: var(--white);
    }

    .header__logo-link img {
        width: 246.27px;
        height: 88px;
    }

    .logo-mobile {
        display: none;
    }

    .logo-desk {
        display: block;
    }

    .intro {
        padding-top: 200px;
    }

    .intro__inner-list-advantages {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        row-gap: 20px;
        padding: 20px;
    }

    .intro__list-advantages li {
        font-size: 16px;
    }

    .intro__inner-list-advantages li span {
        font-size: 16px;
    }
}